.main {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
  background-color: #0D1321;
  color: antiquewhite;
  align-items: center;

}

.main h2 {
  font-size: 35px;
  margin-left: 20px;

}

.nav {
justify-content: end;
font-family: sans-serif;
margin-right: 20px;

}

.buttons {
  display: flex;
  
}

.buttons li {
  padding: 10px;
  list-style-type: none;
  color: antiquewhite;
}

.buttons a {
  color: antiquewhite;
}