.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: ;
}


.nav {
justify-content: end;
}

.buttons {
  display: flex;
}

.buttons li {
  padding: 10px;
  list-style-type: none;
}