.main {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
  background-color: #0D1321;
}


.nav {
justify-content: end;
}

.buttons {
  display: flex;
}

.buttons li {
  padding: 10px;
  list-style-type: none;
}