.main {
  display: flex;
  min-height: 20vh;
  background-color: #748CAB;
}

.container {
 display: grid;
 grid-template-columns:  1fr 3fr;
 height: auto;
}

.contentLeft {
  width: 70vh;
  text-align: center;
  margin: -20px;
}

.contentLeft p {
  font-size: 60px;
}
.contentRight {
  background-color: #1D2D44;
  width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  .content {

  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
