.main {
  display: flex;
  min-height: 20vh;
  background-color: #748CAB;
}

.mainContainer {
  position: relative;
 display: grid;
 grid-template-columns:  1fr 3fr;
 height: auto;

}

.containerLeft {
  display: flex;
  width: 70vh;
  justify-content: center;
}

.contentLeft p {
  font-size: 60px;
  font-weight: 600;
  margin: 20px;
}
.containerRight {
  display: flex;

  background-color: #1D2D44;
  width: 100%;
}

.image {
  z-index: 1;
  top: 10%;
  left: 10%;
  position: absolute;
}
/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
